@charset "UTF-8";
/* CSS Document */

/* Start of media queries */
/* End of media queries */

:root {
    --main-blue: #1700A7;
    --background: #00006D;
}

body {
	margin-left: 0px;
	margin-top: 0px;
	background-color: var(--background);
	color: #FFFFFF;
}

nav {
	background-color: var(--main-blue);
	width: 20%;
	height: 100vh;
	border-radius: 0 40px 40px 0;
	float: left;
	margin: 0 20px 0 0;
	position: fixed;
}

#app-title-header {
	margin-top: 10px;
}

.app-title {
	margin-left: 25px;
	margin-top: 25px;
}

.logo {
	border-radius: 50%;
	background-color: #878787;
	width: 62px;
	height: 62px;
	margin-bottom: -30px;
}

.logo2 {
	border-radius: 50%;
	background-color: #878787;
	width: 62px;
	height: 62px;
}

nav h1 {
	display: inline;
	margin-left: 25px;
	font-family: Helvetica, Arial, "sans-serif";
	font-weight: 200;
	font-size: 1.6rem;
	letter-spacing: .04rem;
}

nav ul {
	margin-top: 150px;
	margin-left: 75px;
	font-weight: 200;
}

nav li {
	font-family: Helvetica, Arial, "sans-serif";
	font-size: 5.5rem;
	margin-bottom: -48.5px;
	margin-left: 5px;
}

.menu-item {
	position: relative;
	font-size: 1.15rem;
	top: -20px;
	right: 0px;
}

#menu a {
	color: #fff;
	text-decoration: none;
}

form {
    display: block;
}

.inputBox{
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	outline:0;
	border:0;
	margin: 6px;
	width: 90%;
	height: 30px;
}

.log_container {
	background-color: var(--main-blue);
	height: 40%;
	width: 30%;
	border-radius: 10px;
	margin: 15% 34%;
	text-align: center;
	padding: 1%;
}

.right-of-menu {
	margin-left: 25%;
	position: absolute;
	padding-bottom: 50px;
}

.graph-container {
	background-color: var(--main-blue);
	border-radius: 20px;
	margin-top: 50px;
	padding: 10px 50px 10px 50px;
}

.graph-container h2, .tracker h2 {
	font-family: Helvetica, Arial, "sans-serif";
	font-weight: 100;
	font-size: 1.1rem;
	text-decoration: none;
}

.graph {
	height: 200px;
	width: 550px;
	border: solid #fff;
}

.tracker {
	background-color: var(--main-blue);
	width: 150px;
	height: 100px;
	display: inline-block;
	padding: 10px 10px 10px 20px;
	margin-right: 40px;
}

label {
	font-family: Helvetica, Arial, "sans-serif";
	font-weight: 100;
}

.graph-container form {
	margin-bottom: 20px;
}

.graph-container p {
    font-family: Helvetica, Arial, "sans-serif";
    font-weight: 100;
}
