@charset "UTF-8";
/* CSS Document */

body {
	margin-left: 0px;
	margin-top: 0px;
	background-color: #00006D;
	color: #FFFFFF;
}

nav {
	background-color: #1700A7;
	width: 20%;
	height: 100vh;
	border-radius: 0 40px 40px 0;
	float: left;
	margin: 0 20px 0 0;
}

#app-title-header {
	padding-bottom: 20px;
}

.app-title {
	margin-left: 20px;
	margin-top: 20px;
}

.logo {
	border-radius: 50%;
	background-color: #878787;
	width: 55px;
	height: 55px;
	display: inline;
}

nav h1 {
	display: inline;
	margin-left: 20px;
	margin-top: -20px;
	font-family: Helvetica, Arial, "sans-serif";
	font-weight: 200;
	font-size: 1.5rem;
	letter-spacing: .04rem;
}

form {
    display: block;
}

.inputBox{
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	outline:0;
	border:0;
	margin: 6px;
	width: 90%;
	height: 30px;
}

.log_container {
	background-color: #1700A7;
	height: 40%;
	width: 30%;
	border-radius: 10px;
	margin: 15% 34%;
	text-align: center;
	padding: 1%;
}